.site-header {
  padding-top: 0;
  padding-bottom: $space-2;
  border-top: solid 5px $blue;
  border-bottom: solid 2px $lighter-gray;
}

.site-header a {
  color: #333;
  font-size: $h4;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h3!important;
  color: $blue;
}

.site-header nav a {
  color: #888;
  font-size: $h6;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #333;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
