.site-header {
  border-top: solid 2px $blue;
  border-bottom: solid 2px $lighter-gray;
}

.site-header a {
  color: $dark-gray;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h1!important;
  color: $blue;
}

.site-header .site-title:hover,
.site-header .site-title:focus,
.site-header .site-title:active, {
  color: $dark-gray;
}

.site-header nav a {
  color: $dark-gray;
  font-size: $h4;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: $blue;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
